body{
margin: 0px;
padding: 0px;

}
ul li{
list-style: none;

}

.logo{
    width: 200px;
    height: auto;
}

.container{
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-auto-flow: column;
}